<h4>Comments</h4>
	<div class="micropost">
	    <%= link_to gravatar_for(@user, size: 50), @user %>
		<%= link_to @user.name, @user %><br />
		<p class="recipename"><%= @micropost.name %> :</p>
		<p class="time"><%= @micropost.content %></p>
		<p class="time"><%= image_tag @micropost.picture.url if @micropost.picture? %></p>
		<p class="time">Shared <%= time_ago_in_words(@micropost.created_at) %> ago</p>
	</div><br /><br />

	<div class="com_input">
		<%= form_for(@comment,url: micropost_comments_path(@micropost)) do |f|%>
		    <%= f.text_area :content, class: "com_text" %>
        	<%= f.submit "comment", class: "button" %>
    	<% end %>
	</div>

	<div class="com_list">
		<ol>
			<h3><%= @comments.count %><%= @comments.count <= 1 ?  ' comment' : ' comments:' %></h3>
			<%= render @comments %>
		</ol>
	</div>