<li class="block1" style="list-style-type:none">
    <div class="title-bar">
      <%= link_to "New Recipes:", newrecipe_path, class: "title" %> 
   	</div>
   	<div class="content">
   	  <div class="recipe">
      	<%= link_to image_tag("block/LemonChi.png", alt: "LemonChiken"),lemonchi_path ,class: "img" %>
        <%= link_to "LemonChicken", lemonchi_path, class: "name" %>
      </div>
      <div class="recipe">
      	<%= link_to image_tag("block/Eggnog.png", alt: "EggnogRussian"), eggnog_path ,class: "img" %>
        <%= link_to "Eggnog Russian", eggnog_path, class: "name" %>
      </div>
      <div class="recipe">
      	<%= link_to image_tag("block/Casserole.png", alt: "SausageCasserole"), casserole_path ,class: "img" %>
        <%= link_to "Sausage Casserole", casserole_path, class: "name" %>
      </div>
   	</div>
</li>

<li class="block2" style="list-style-type:none">
    <div class="title-bar">
      <%= link_to "Popular Recipes:", popularrecipe_path, class: "title" %> 
   	</div>
   	<div class="content">
      <div class="recipe">
      	<%= link_to image_tag("block/SauPasta.png", alt: "SauPasta"), '#' ,class: "img" %>
        <%= link_to "Sauce Pasta", '#', class: "name" %>
      </div>
      <div class="recipe">
      	<%= link_to image_tag("block/ApplePie.png", alt: "ApplePie"), '#' ,class: "img" %>
        <%= link_to "Apple Pie", '#', class: "name" %>
      </div>
      <div class="recipe">
      	<%= link_to image_tag("block/BeefStew.png", alt: "BeefStew"), '#' ,class: "img" %>
        <%= link_to "Beef Stew", '#', class: "name" %>
      </div>
   	</div>
<li>

<li class="block3" style="list-style-type:none">
    <div class="title-bar">
      <%= link_to "Fresh Material:", freshmaterial_path, class: "title" %> 
   	</div>
   	<div class="content">
      <div class="recipe">
      	<%= link_to image_tag("block/Potato.png", alt: "Potato"), '#' ,class: "img" %>
        <%= link_to "Potato", '#', class: "name" %>
      </div>
      <div class="recipe">
      	<%= link_to image_tag("block/Egg.png", alt: "Egg"), '#' ,class: "img" %>
        <%= link_to "Egg", '#', class: "name" %>
      </div>
      <div class="recipe">
      	<%= link_to image_tag("block/Beef.png", alt: "Beef"), '#' ,class: "img" %>
        <%= link_to "Beef", '#', class: "name" %>
      </div>
      <div class="recipe">
      	<%= link_to image_tag("block/Mushroom.png", alt: "Mushroom"), '#' ,class: "img" %>
        <%= link_to "Mushroom", '#', class: "name" %>
      </div>
      <div class="recipe">
      	<%= link_to image_tag("block/Sparerib.png", alt: "Sparerib"), '#' ,class: "img" %>
        <%= link_to "Sparerib", '#', class: "name" %>
      </div>
   	</div>
<li>