  <aside class="col-md-4"> 
    <ul class="homepage-cats" style="list-style-type:none">
      <li class="homepage-cat-has-submenu homepage-cat0 " >
        <%= image_tag("catagory/break.png", alt: "icon0") %>
        <%= link_to "Breakfast", breakfast_path, class: "cat-name" %>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat1 " >
        <%= image_tag("catagory/lunch.png", alt: "icon1") %>
        <%= link_to "Lunch", lunch_path, class: "cat-name" %>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat2 " >
        <%= image_tag("catagory/pasta.png", alt: "icon2") %>
        <%= link_to "Pasta", pasta_path, class: "cat-name" %>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat3 " >
        <%= image_tag("catagory/drink.png", alt: "icon3") %>
        <%= link_to "Drink", drink_path, class: "cat-name" %>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat4 " >
        <%= image_tag("catagory/gruel.png", alt: "icon4") %>
       <span class="cat-name">Gruel</span>
      </li>
  
      <li class="homepage-cat-has-submenu homepage-cat5 " >
        <%= image_tag("catagory/soup.png", alt: "icon5") %>
        <span class="cat-name">Soup</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat6 " >
        <%= image_tag("catagory/cold.png", alt: "icon6") %>
        <span class="cat-name">Cold Dish</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat7 " >
        <%= image_tag("catagory/fry.png", alt: "icon7") %>
        <span class="cat-name">Fried Food</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat8 " >
        <%= image_tag("catagory/fish.png", alt: "icon8") %>
        <span class="cat-name">Fish</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat9 " >
        <%= image_tag("catagory/veg.png", alt: "icon9") %>
        <span class="cat-name">Vegetable</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat10 " >
        <%= image_tag("catagory/fruit.png", alt: "icon10") %>
        <span class="cat-name">Fruit</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat11 " >
        <%= image_tag("catagory/bake.png", alt: "icon11") %>
        <span class="cat-name">Bakery</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat12 " >
        <%= image_tag("catagory/diet.png", alt: "icon12") %>
        <span class="cat-name">Diet Menu</span>
      </li>

      <li class="homepage-cat-has-submenu homepage-cat13 " >
        <%= image_tag("catagory/meat.png", alt: "icon13") %>
        <span class="cat-name">Meat</span>
      </li>
    </ul>
  </aside>
